#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-body-title-sequent {
  font-size: 2em;
  margin: 1em 0;
  text-align: left;
}

.main-body-title-app-name {
  font-size: 2em;
  margin: 1em 0;
  text-align: left;
}

.line-break {
  margin: 1em 0;
  border-bottom: 1px solid #ccc;
}

.p-card-title {
  font-size: 1.5em;
  margin: '20px';
  text-align: left;
}

.p-dropdown {
  margin: '5px';
}
